body {
  margin: 2rem;
}

.container {
  max-width: 20rem;
  margin: 0 auto;
}

.anime {
  opacity: 0;
  transform: translateX(-10px);
  animation: anime .3s forwards;
}

@keyframes anime {
  to {
    transform: initial;
    opacity: 1;
  }
}