.loading {
  height: .125rem;
  background: #000;
  overflow: hidden;
  max-width: 25%;
  margin: 2rem auto;

  &::after{
    content: "";
    display: block;
    width: 75%;
    height: .125rem;
    background: #fff;
    animation: loading .5s linear forwards infinite;
  }
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }

  to{
    transform: translateX(125%);
  }
}