table{
  margin-top: 1rem;
  margin-left: 1rem;
  border: 1px solid #000;
}

table, input, label{
  font-size: 1.25rem;
  font-family: monospace;
  margin-bottom: 0.5rem;
}

thead{
  border-bottom: 1px solid #000;
}

tr{
  &:nth-child(even){
    background: #eee;
  }
}

td{
  padding: 0.25rem 0.5rem;
  text-align: center;
}

th{
  padding-right: 1rem;
  text-align: left;
  font-weight: 700;
  text-align: center;
}

input[type="number"]{
  display: block;
}